<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
						   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
						   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
  <context:component-scan base-package="org.dateplanner.service"/>

  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/>
	<property name="mapperLocations" value="classpath*:org/dateplanner/dao/mapper/**/*.xml"/>
	<property name="typeAliasesPackage" value="org.dateplanner.vo"/>
  </bean>
  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	<property name="url" value="jdbc:mysql://laziness.me/date_planner"/>
	<property name="username" value="root"/>
	<property name="password" value="3B2}|9TYe{|[:2W!_qG>CYA|6QTD!O?gURDw2"/>
  </bean>

  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"/>
  </bean>
  <aop:config>
	<aop:advisor advice-ref="tx" pointcut="execution(public * org.dateplanner.service.*Service.*(..))"/>
  </aop:config>
  <tx:advice id="tx" transaction-manager="transactionManager">
	<tx:attributes>
	  <tx:method name="*"/>
	</tx:attributes>
  </tx:advice>

  <bean id="usersDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	<property name="mapperInterface" value="org.dateplanner.dao.UsersDAO"/>
  </bean>
  <bean id="boardDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	<property name="mapperInterface" value="org.dateplanner.dao.BoardDAO"/>
  </bean>
  <bean id="packagesDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	<property name="mapperInterface" value="org.dateplanner.dao.PackagesDAO"/>
  </bean>
<!--   <bean id="commentDAO" class="org.mybatis.spring.mapper.MapperFactoryBean"> -->
<!-- 	<property name="sqlSessionFactory" ref="sqlSessionFactory"/> -->
<!-- 	<property name="mapperInterface" value="org.dateplanner.dao.CommentDAO"/> -->
<!--   </bean> -->
<!--   <bean id="likeDAO" class="org.mybatis.spring.mapper.MapperFactoryBean"> -->
<!-- 	<property name="sqlSessionFactory" ref="sqlSessionFactory"/> -->
<!-- 	<property name="mapperInterface" value="org.dateplanner.dao.LikeDAO"/> -->
<!--   </bean> -->
</beans>