<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.dateplanner.dao.IUserDao">
	  <update id="update" parameterType="java.util.HashMap">
		  update user set
		  name = #{name}, pwd = #{pwd},
		  email = #{email}, phone = #{phone}, admin = #{admin}
		  where userid = #{userid}
	  </update>
	  
	  <delete id="delete" parameterType="String">
	  	delete from user where userid = #{userid}
	  </delete>
	  
	  <select id="selectNoWithFacebookId" parameterType="String" resultType="java.util.HashMap">
	  	select user_no from login_facebook where user_id = #{userId}
	  </select>

	  <select id="selectOne" parameterType="String" resultType="java.util.HashMap">
	  	select * from login_facebook where user_id = #{userId}
	  </select>
	  
	  <insert id="insertUserFacebook" parameterType="java.util.HashMap">
	  	INSERT INTO login_facebook(synchronize, user_no, id) 
	    VALUES(false, (SELECT MAX(no)+1 from user), #{id})
	    
	    INSERT INTO user
	    VALUES(#{ name},#{ nickname},#{ regionNo},#{ profile},#{ sex},#{ introduction},#{chNameDate}, #{ logCheckTime})
	  </insert>

	  <insert id="insertUser" parameterType="java.util.HashMap">
	  	INSERT INTO user
	    VALUES(#{ name},#{ nickname},#{ regionNo},#{ profile},#{ sex},#{ introduction},#{chNameDate},#{ logCheckTime})
	  </insert>
	  

	  <select id="selectAll" resultType="java.util.HashMap">
	  	select * from user
	  </select>
		

  </mapper>

